<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <property name="LOGS" value="./logs"/>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %c{1}:%L %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--Disabled due to the NumberFormatException what is caused by the bug in Swagger internals-->
    <logger name="io.swagger.models.parameters.AbstractSerializableParameter" level="ERROR"/>

    <logger name="org.sergei.sakila" level="info, debug"/>

    <root level="info, debug">
        <appender-ref ref="stdout"/>
    </root>
</configuration>